.post-body {
  /* background-color: blue; */

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: x-large;
    font-weight: 600;
  }

  strong {
    font-weight: bolder;
  }

  em {
    font-style: italic;
  }

  a {
    text-decoration: underline;
  }

  img {
    width: 95%;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* p {
        background-color: red;
        margin: 20px;
    } */
}

.className1 {
    background-color: burlywood;
}

.className1:hover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 99999;
}


.className2:hover {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
